<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header(title='메인페이지')}">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div th:replace="~{fragments/nav :: nav}"></div>
    
    <div class="container">
        <div th:replace="~{view/board/posts :: post-list(posts=${posts})}"></div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
    
    <script src="/js/nav.js"></script>
    <script src="/js/login.js"></script>
</body>
</html>